/*-------------------------------------------------
GLOBALS CLASSES
-------------------------------------------------*/
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-top: 3em;
	padding-bottom: 6em;
	font-family: 'Segoe UI', sans-serif  !important;
	background:#FFF;
	color:#666;	
}

.fill-width {
	background: #28C8A0;
    box-shadow: 0px 1px 3px 0px #AAA !important;
}

ul .selected a { /* every selected li */
	color: #555 !important; 
	background: #FFF !important;
}

h2 {
	text-align: left;
	font-size: 1.2em; 
	color: #28C8A0 !important; 
	font-weight: normal; 
	margin-bottom: 1.5em;
}

a:hover {
	text-decoration: none !important;
}

.error-field-top div {
	margin-top: 0em !important;
	margin-bottom: 1em !important;
}
/*-------------------------------------------------
HEADER CLASSES
-------------------------------------------------*/
.contentHolder {
	width: 75em;
	margin-left:auto;
	margin-right:auto;
	margin-top:0em;
	margin-bottom:0em;
}

.navbar-ribbon {
	height: 3em !important;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.navbar-title {
	padding-top: 0.5em;
}

.header { 
	background: rgba(40, 200, 160, 0.45);
	margin-top: 3.5em;
	overflow: show; 
	height: 15em;
}
.header-image {
	float:left; 
	overflow:hidden; 
	width:14em; 
	height:14em; 
	margin-left:1em; 
	margin-right:1em; 
	padding-top:1em;
	text-align: center;
}
.header-image img {
	width: auto; 
	vertical-align: middle; 
	height: 100%;
}

.header-menu {
	float:left; 
	width:58em; 
	height:100%; 
	padding-top:0.5em;
    position:relative;
}

.header-menu h1 {
	padding-top: 1em;
	font-size:2.3em; 
	color:#FFF; 
	font-style: italic;
}

.header-menu h1 span {
	font-size:2em; 
	font-weight: bold;
}

.header-menu ul {
    position:absolute;
    bottom:0;
    right: 0;
}

.header-menu ul li {
	width: 13em; 
	text-align: center;
}

.header-menu ul li a {
	color: #FFF; 
	font-weight: bold;
}

.header-menu ul li a:hover {
	color: #28C8A0  !important; 
	background: #FFF;
}

.header-menu ul li a:focus {
	color: #555; 
	background: #FFF !important;
}

.header-menu ul li a:active {
	color: #555; 
	background: #FFF !important;
}

.dropdown-menu {
	background: #FFF !important;
    box-shadow: 0px 3px 3px #AAA !important;
}

.dropdown-menu li {
	background: #FFF;
    box-shadow: 0px 3px 3px #AAA !important;
	height: 2.5em !important;
	position: relative;
	padding-bottom: 3px;
}

.dropdown-menu li a {
	line-height: 2em !important;
	padding-bottom: 0.5em;
	margin: 0 auto;
	width: 100%;
	color: #AAA !important; 
}

.dropdown-menu li a:hover {
	color: #28C8A0 !important; 
    background: transparent !important;
}
/*-------------------------------------------------
FOOTER CLASSES
-------------------------------------------------*/
.footer {
 	width: 100%;
  	position: absolute;
  	bottom: 0;
	padding-top: 0.5em; 
	padding-bottom: 0em; 
	background: rgba(40, 200, 160, 1);
}

.footer p {
	text-align: center; 
	font-weight: bold;
	color: #FFF;
}
/*-------------------------------------------------
FLOAT PANEL HOLDERS
-------------------------------------------------*/
.middle {
	margin:0 auto; 
	overflow:hidden;
}

.panel {
	width:16em; 
	float:left; 
	overflow:hidden; 
	background: rgba(40, 200, 160, 0.3) !important;
}

.panel-heders {
	font-size: 1.1em;
	font-weight: bold;
	list-style-type: none;
}

.panel-heders li a {
	color: #555 !important; 
}

.panel-heders .enabled-header a:hover {
	color: #28C8A0 !important; 
	background: #FFF !important;
}

.panel-heders .enabled-header a:focus {
	background: #FFF !important;
}

.panel-categories li a {
	padding-left: 2.5em !important; 
}

.panel-categories li a:hover {
	color: #28C8A0 !important; 
	background: #FFF !important;
}

.panel-categories li a:focus {
	background: #FFF !important;
}

.content {
	width:59em; 
	float:left; 
	overflow:hidden; 
	padding:2em;
	text-align: center;
    background-image: url('../images/el_title.png');
    background-repeat: no-repeat;
    background-position: center;
}	

.center-content {
	display: inline-block;
}

.create-new-block {
	margin-top: 14em !important;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	padding-left: 4em;
	padding-right: 4em;
	border: 1px solid #DDD;
	color: #28C8A0 !important; 
	background: #FFF;
	font-size: 1.2em;
    border-radius: 0.4em;
}

.create-new-block:hover {
	cursor: pointer;
	background: #F5F5F5;
	text-decoration: none;
}
/*-------------------------------------------------
VIEWS
-------------------------------------------------*/
.tableBooks {
	width:48em; 
	table-layout: fixed; 
	margin-top:2em;
	text-align: left;
}

.tableBooks th {
	padding-bottom: 0.2em;
	font-size: 1.1em;
}

.tableBooks td {
	padding-bottom: 0.2em;
}

.tableBooks .info {
	width: 35em;
}

.tableBooks .add {
	width: 5em;
	text-align: center;
	color: #28C8A0;
	font-style: italic;
}

.tableBooks .add button {
	margin-top: 0.5em;
	width: 7em;
	font-style: normal !important;
}

.tableBooks .add input[type="submit"] {
	width: 7em;
	margin-top: 0.5em;
	font-style: normal !important;
}

.tableUsers {
	margin-top:2em;
	text-align: left;
	width: 45em !important;
}

.tableUsers .info {
	width: 18em;
	padding-top: 0em; 
	padding-left: 0.3em;
	margin-right: 1em;
	font-size: 1.1em;
}

.tableUsers .add {
	width: 12em;
}

.tableUsers .account {
	width: 5em ;
}

.tableUsers .add button {
	width: 6em;
	margin-top: 0.7em; 
	margin-right: 0.7em;
}

.tableUsers .add input[type="submit"] {
	width: 6em;
	margin-top: 0.7em; 
	margin-right: 0.7em;
}

.tableCategories {
	margin-top: 2em;
	text-align: left;
	width: 25em !important;
}

.tableCategories .info {
	width: 12em;
	padding-left: 0.3em;
}

.tableCategories .add button {
	width: 6em;
}

.tableCategories .add form {
	display: inline;"
}

.tableCategories .add input[type="submit"] {
	width: 6em;
}
/*-------------------------------------------------
FORMS
-------------------------------------------------*/
.form-boundary {
	margin-top: 2em;
    border-radius: 0.7em;
	padding-top: 2em;
	padding-left: 6em;
	padding-right: 6em;
	padding-bottom: 2em;
	background: #FFF;
    box-shadow: 0px 0px 10px 0px #AAA !important;
}

.manage-data {
	font-size: 1.1em;	
}

.manage-data tr {
	height: 3em;	
}

.manage-data th {
	padding-left: 1em;	
}

.alert-danger {
	margin-top: 0.8em !important;
	margin-bottom: 0em !important;
}

.manage-data .button-field {
	vertical-align: bottom;
	text-align: center;
	height: 3em;	
	padding-right: 1em;	
}

.manage-data .button-field input {
	width: 14em;	
	padding: 0.8em;
}

.table-size-small {
	width: 23em;	
}

.table-size-medium {
	width: 30em;	
}

.table-size-big {
	width: 39em;	
}

.smallInput {
	width: 6em !important;
}

.mediumInput {
	width: 15em !important;
}

.bigInput {
	width: 23em !important;
}

.veryBigInput {
	width: 33em !important;
}

.fileInput {
	width: 26em !important;
	margin-right: 0em !important;
}

.form-control:focus {   
	border-color: rgba(40, 200, 160, 0.8) !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(40, 200, 160, 0.6) !important;
	outline: 0 none !important;
}

.btn:active,
.btn:focus {
	outline-color: rgba(40, 200, 160, 0.8) !important;
}